<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> <!--css 링크, 이름 변경必-->
    <title>BP</title>
</head>
<body>
    <nav class="MainMenu">
        <ul>
            <li><a href="#" class="MenuText">Main</a></li>
            <li><a href="Challenge" class="MenuText">Challenge</a></li>
            <li><a href="Login" class="MenuText">Login</a></li>
            <li><a href="Account" class="MenuText">Account</a></li>
        </ul>
    </nav>
    <div class="WallPaper">
    <div class="wrapper"><br><a href="_self"><h1>Hello, Wargame!</h1></a></div>
    <br>
        
        <div class="MainText"><p>
        워게임은, 정보보안 지식을 익히는 데에 아주 중요한 도움이 되는 일련의 과정이라고 할 수 있습니다.
        학문적으로 SQL Injection, SHA-1등 여러가지 암호화나 공격방식의 지식을 가지고 있으나 실질적인 경험이 없는
        분들에게 아주 유용한 공부가 될 것입니다. 우리는, 정말 기본적으로 유추해내 풀 수 있는 문제부터 복잡한 문제까지
        여러 방식들을 다루고 있습니다! 문제가 어렵다고 포기하지 마세요! 도전을 하기 전의 당신과 도전을 하고 난 뒤의 당신은
        놀라울 정도로 달라져있을 것입니다.
        </p>
    </div>
</div>
    <div class="SubText">
        <span><h2>누구나 손쉽게 풀 수 있습니다</h2>
        <p class="MiniText">웹 보안에 대한 공부를 시작한지 얼마 되지 않으신 분,<br>
        웹 보안 관련 예제에 이미 익숙하신 분,<br>
        웹 보안을 시작하려고 하시는 분 누구나 즐길 수 있습니다.
        </p></span>
        <span><h2>지식 활용과 습득에 도움이 됩니다</h2></span>
        <span><h2>보안 관련 지식에 대해 자신감이 생깁니다</h2></span>
        </div>
    
<footer class="Foot">
    20171500 이호연 20171548 신현령
</footer>
</body>
</html>